
.body{
    display: flex;
    justify-content: center;
    background:rgb(147, 204, 204);
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
    gap: 2rem;
    padding: 20px;
    margin: 20px;
}

.imagen1{
    margin: 0%;
}

.imagen{
    width: 50%;
}

.parte_1{
    margin: auto;
    height: 25em;
}

.cuadro_texto1{
    margin-top: 2em;
    color: rgb(33, 69, 145);
    padding: 1em;
    font-size: 1rem;
    border: none;
    resize: none;
    width: 100%;
    height: 22.3em;
    margin-bottom: 1rem;
    /* or 48px */
    border-radius: 32px;
    background:rgb(147, 204, 204);
}


textarea:focus {
    outline: none;
}

.etiqueta{
    display: block;
    color: rgb(49, 49, 49);
    text-align: start;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 1em;
}

.botones{
    width: 100%;
    font-weight: bold;
    color: black;
}

.encriptar{
    display: inline-block;
    width: 45%;
    padding: 15px 0;
    font-size: 18px;
    background: rgb(69, 245, 99);  
    border-radius: 20px;  
    cursor: pointer;

}
.encriptar:hover{
    background: rgb(172, 240, 184);
}

.desencriptar{
    width: 45%;
    padding: 15px 0;
    font-size: 18px;
    background: rgb(240, 139, 72);
    border-radius: 20px;
    cursor: pointer;
}

.desencriptar:hover{
    background: rgb(248, 206, 176);
}

.texto_imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 45em;
    padding: 32px;
    text-align: center;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 15px 0px rgb(119, 163, 163);
}
.imagen2_div{
    margin-top: 30%;
    width: 70%;
}

.imagen2{
    width: 100%;
}

.mensaje_1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    line-height: 28.8px;
    margin-bottom: 1rem;
}

#texto_final{
    width: 85%;
    height: 34em;
    border: none;
    resize: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(33, 69, 145);
    font-family: 'Montserrat', sans-serif;
}

.botones2{
    width: 100%;
    font-weight: bold;
    color: black;
}

.copiar{
    width: 60%;
    margin-top: 4em;
    padding: 15px 0;
    font-size: 18px;
    background: rgb(255, 255, 255);    
    border-radius: 20px;
    cursor: pointer;
}

.copiar:hover{
    background: rgb(214, 213, 213);
}

.hide{
    display: none;
}

.hide_exc{
    display: none;
}

footer{
    display: inline-block;
    width: 100%;
}

.logogit{
    width: 25px;
}

#creador{
    color: black;
    font-weight: bold;
}

@media only screen and (min-width: 491px) and (max-width: 1000px) {

    body{
        flex-direction: column;
    }

    .cuerpo{
        display: block;
    }

    .imagen1{
        margin: 0px;
    }

    .imagen{
        width: 20%;
    }

    .cuadro_texto1{
        height: 15em;
        width: 80%;
    }

    .botones{
        width: auto;
    }

    .etiqueta{
        font-size: 8px;
    }

    .encriptar{
        padding: auto;
        margin: auto;
        width: 45%;
    }

    .desencriptar{
        padding: auto;
        margin: auto;
        width: 45%;
    }

    .texto_imagen{
        width: 80%;
        height: auto;
        margin-top: 1em;
    }

    #imagen_incognito{
        display: none;
    }

    .mensaje_1{
        width: 50em;
        align-items: center;
        padding: none;
        font-size: large;
        margin-bottom: auto;
        vertical-align: middle;
    }

    .frase_encriptada{
        width: 80%;
        height: 90%;
    }

    #texto_final{
        width: 100%;
        font-size: medium;
        height: 15rem;
    }

    .copiar{
        margin-top: 1em;
        width: 90%;
    }

}

@media only screen and (max-width:490px) { /*Todos estos son parámetros en caso de que la pagina se abra desde un dispositivo mobil*/

    .cuerpo{
        display: block;
    }

    .imagen1{
        margin: 0px;
    }

    .imagen{
        width: 30%;
    }

    .cuadro_texto1{
        height: auto;
        width: auto;
    }

    .botones{
        width: auto;
    }

    .etiqueta{
        font-size: 8px;
    }

    .encriptar{
        display: block;
        padding: auto;
        margin: auto;
        width: 100%;
    }

    .desencriptar{
        display: block;
        padding: auto;
        margin: auto;
        width: 100%;
    }

    .texto_imagen{
        width: 16em;
        height: 33%;
        margin-top: 1em;
    }

    #imagen_incognito{
        display: none;
    }

    .mensaje_1{
        align-items: center;
        padding: none;
        font-size: large;
        margin-bottom: auto;
        vertical-align: middle;
    }

    #texto_final{
        width: 20em;
        font-size: small;
        height: 100%;
    }

    .copiar{
        margin-top: 1em;
        width: 90%;
    }

    .hide_exc{
        display: flex;
    }
}